body {
	background-image: url('../images/background.jpg');
	background-size: 100%;
	font-family: 'Press Start 2P', Courier;
	color: white;
	margin: 10px;
}

header {
	margin-bottom: 10px;
}

section {
	margin-bottom: 10px;
}

h1 {
	font-size: 30pt;
	text-align: right;
	margin-right: 15%;
}

h2 {

}

h3 {
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
}

.float-left {
	float: left;
}

.character-panel {
	border-style: solid;
	border-width: 3px;
	border-color: forestgreen;
	background-color: white;
	width: 20%;
	height: 200px;
	text-align: center;
}

.enemy-panel {
	background-color: red;
}

.defender-panel {
	color: white;
	background-color: black;
}

.character-img {
	width: 80%;
	height: 80%;
}

.character-slot {
	height: 206px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}