body {
	background-image: url('../images/background.jpg');
	background-size: 100%;
	font-family: 'Press Start 2P', Courier;
	color: #fc0;
	margin: 10px;
}

header, section, h2, button {
	margin-bottom: 10px;
}

h1 {
	font-size: 30pt;
	text-align: right;
	margin-right: 15%;
}

h3 {
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
}

.float-left {
	float: left;
}

.character-panel {
	border-style: solid;
	border-width: 3px;
	border-color: forestgreen;
	background-color: white;
	width: 300px;
	height: 250px;
	text-align: center;
}

.enemy-panel {
	background-color: red;
}

.defender-panel {
	color: white; /*doesn't work because h3 is more specific than it*/
	background-color: black;
}

.character-img {
	height: 80%;
	width: 80%;
}

.character-slot {
	height: 256px;
}

.mode-2 {
	visibility: collapse; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}